<div class="btn-group navbar-left">
    <span id="logoBut" tabindex="1" class="logo-span icon-logo">
        <span class="icon-readium" aria-hidden="true"></span>
    </span>
</div>
<div class="btn-group navbar-right">
    <button tabindex="1" type="button" class="btn icon-thumbnails" title="{{strings.thumbnail_view}}" aria-label="{{strings.thumbnail_view}}">
        <span class="material-icons" aria-hidden="true">
            apps
        </span>
    </button>
    <button tabindex="1" type="button" class="btn icon-list-view" title="{{strings.list_view}}" aria-label="{{strings.list_view}}">
        <span class="material-icons" aria-hidden="true">
            reorder
        </span>
    </button>
    <button id="settbutt1" tabindex="1" type="button" class="btn icon-settings" title="{{strings.settings}} [{{keyboard.ShowSettingsModal}}]" aria-label="{{strings.settings}} [{{keyboard.ShowSettingsModal}}]" accesskey="{{keyboard.accesskeys.ShowSettingsModal}}" data-toggle="modal" data-target="#settings-dialog">
        <span class="material-icons" aria-hidden="true">
            settings
        </span>
    </button>
</div>